<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>こんにちは！<%=@user.name%>さん。</h3>
    <p>defomate運営局です。</p>
    <p>以下のリンクをクリックしてメール認証を完了させてください。</p>
    <p>https://defomate.com/users/show/?email=<%=@user.email%>&passwd=<%=@user.passwd%>&name=<%=@user.name%></p>
    
  </body>
</html>
