<%abc= "データベース一覧" %>
<%=abc%>

<table border="3">
    
    <% @users.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.passwd %></td>
    </tr>
    <% end %>

</table>



<%#=User.create(name:"",email:"")%>
