<h1>Question#index</h1>
<p>Find me in app/views/question/index.html.erb</p>
<!DOCTYPE html>
<% content_for(:title, 'defomate - top') %>

<div>
<img src="/assets/person/owner_troubled.gif"
class="size_standing" alt="s2">
</div>
<div class="balloon right">
始めましてリオ先生。私はプロのイラストレータを目指しています。
ここはプロの育成と紹介を行っている場所で合っていますか?
</div>

<div class="balloon left"><h1>
合ってるよ。このサイトは、1人1つ得意なイラストの分野を決めて投稿するサイト。
例えば、オリジナルキャラクター専門や背景専門がある。
そして、顧客と契約を結ぶスペシャリストの育成と紹介を行っているサイトでもある。
</h1></div>
<div>
<img src="/assets/person/rio_conviced.gif"
class="size_standing top-right" alt="r2">
</div>

<div>
<img src="/assets/person/owner_nomal.gif"
class="size_standing" alt="nomal">
</div>
<div class="balloon right">
このサイトの説明を聞いてもいいですか？  
</div>

<div class="balloon left">
このサイトでは、毎週期間限定でクリエイター達にお題を出して、
クリアした者に評価と少しの報酬が与えられる。
そして、依頼者はその積み上げた評価を見てクリエイターを選ぶ。
</div>
<div>
<img src="/assets/person/rio_nomal.gif"
 class="size_standing top-right" alt="nomal">
</div>

<br><img src="/assets/scene/scene_bmodel.gif"
 class="explain" alt="groped">

<div>
<img src="/assets/person/owner_winked.gif"
class="size_standing" alt="winked">
</div>
<div class="balloon right">
実戦形式ですか。望む所です。
</div>

<div class="balloon left"><h1>
それは良かった。それでは、サイト右上のアカウント登録を行って準備完了だ。
</h1></div>
<div>
<img src="/assets/person/rio_laugh.png"
 class="size_standing top-right" alt="nomal">
</div>



<br><br><br>
<a href="/about">テスト</a>
<%=link_to "ポスト","/posts/index"%>
