/*
 *= require_tree .
 *= require_self
 */

//変数定義
$accent-color:gray; $main-color:white; $media-pc: 680px; $media-sp: 480px;

//media～の処理を@includeで実行出来るようにする
@mixin pc { @media only screen and (min-width: $media-pc ) { @content;} }
@mixin sp { @media only screen and (max-width: $media-sp ) { @content;} }

//ヘッダースタイル定義
header {
   background-color: $main-color;
	a {
	  color: $accent-color;
	  text-decoration: none; 
	  &:hover {
		 color: $main-color; background-color: $accent-color;
	   }
	}
	.btn {
		background-color: gainsboro;
	}

	img {
	}
	.size_logo {
		position: relative; width:250px; height:50px;
		@include sp{position:relative; width:150px; height:30px;}
	}
}

//ボディスタイル定義
body {
  background-color:whitesmoke;
	div {
		 color:$accent-color; background-color: $main-color;
		 margin-top:20px;
	}
}

//フッダースタイル定義
footer {
  font-size: 14px; color: $accent-color;
	a {
	   color: $accent-color;
	   text-decoration: none; 
	   &:visited {color: silver;}
	   &:hover {
		color: $main-color; background-color: $accent-color;
	  }
	}
}
